{% extends "blog/base.html" %}
{% block content %}
    <div class="container bg-light mt-5 p-5 rounded ">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success">
                    Passwort zurücksetzen erfolgreich!
                </div>
                <a href="{% url 'login' %}">Anmelden?</a>
            </div>
        </div>
    </div>
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

{% endblock content %}