{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="landing bg-dark">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-12 col-lg-6 text-center">
                    <h1 class="text-white font-weight-bold display-3 mb-3">Benutzer-Dashboard</h1>

                </div>

            </div>

        </div>
    </div>
    <div class="container bg-light mt-n5 p-5 rounded ">
        <div class="row">
            <div class="col-12">
                <h1>Aktuelle Messwerte</h1>
            </div>
            <div class="col-12">
                <p>Temp, Luftfeuchte, CO2 aus datapoints current_xxx</p>
                <p>{{ latest_values.current_value_double }}</p>
                <p>{{ latest_values.current_value_integer }}</p>
                <p>{{ latest_values.current_value_string }}</p>
                {{ latest_values_list }}
                                {{ latest_values_list.current_value_double }}
                                {{ latest_values_list }}
            </div>
        </div>
    </div>
    <div class="container bg-light mt-n5 p-5 rounded ">
        <div class="row">
            <div class="col-12">
                <h1>Messwertverlauf</h1>
            </div>
            <div class="col-12">
                <p>Hier erscheint der Graph</p>
            </div>
        </div>
    </div>
    <div class="container bg-light mt-n5 p-5 rounded ">
        <div class="row">
            <div class="col-12">
                <h1>Meldeverlauf</h1>
            </div>
            <div class="col-12">
                <p>Hier erscheinen die geschriebenen Meldungen</p>
            </div>
        </div>
    </div>


{% endblock content %}