{% extends "blog/base.html" %}
{% block content %}
    <div class="landing bg-dark">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-12 col-lg-8 text-center">
                    <h1 class="text-white font-weight-bold display-5 mt-5">Meine Meldungen</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5 rounded ">
        {% if message_list.count > 0 %}
            {% for message in message_list|dictsortreversed:"sent_at" %}
                <div class="row blog mb-5">
                    <div class="col-lg-2 col-sm-12 text-center">
                        Empfänger:<a class="mugshot-container mb-1"
                                     href="{% url 'profile' message.recipient.pk %}">
                        <div class="mugshot-img mb-2"
                             style="background-image:url({{ message.recipient.profile.image.url }})"></div>
                        <span>{{ message.recipient.first_name }} {{ message.recipient.last_name }}</span>
                    </a>
                    </div>
                    <div class="col-lg-10 col-sm-12">
                        <div class="blog-information">
                            <p class="text-muted">Gesendet am {{ message.sent_at|date:"d.m.Y" }}
                                um {{ message.sent_at|date:"H:i" }}</p>
                            <p>{{ message.content }}</p>
                            <p class="text-bold"><br/>Betroffenes Gerät: {{ message.user_devices }}</p>
                            <p class="text-bold">Vorfall am {{ message.incident_date|date:"d.m.Y" }}
                                um {{ message.incident_date|date:"H:i" }}</p>

                            <div class="update-edit">
                                {% if request.user.is_authenticated and request.user == message.sender %}
                                    <a class="btn btn-sm btn-info"
                                       href="{% url 'message_update' message.pk %}">Bearbeiten</a>
                                    <a class="btn btn-sm btn-danger"
                                       href="{% url 'message_delete' message.pk %}">Löschen</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="mx-auto mb-5" style="width: 720px;">
            <h2 class="text-muted text-center">Keine Meldungen vorhanden.<br/><br/></h2>
            <p class="mt-3 h3 text-muted text-center">Möchten Sie eine neue Meldung verfassen?</p>
            <p class="mt-3 h3 text-muted text-center"><a href="{% url 'message_create' %}">Klicken Sie
                hier!<br/><br/><br/><br/><br/></a></p>
        {% endif %}
        </div>
    </div>

{% endblock content %}