{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container bg-light p-5 mt-5 rounded ">
        <div class="row">
            <div class="col-12">
                <h2 class="font-weight-bolder">Wollen Sie die folgende Nachricht wirklich löschen?<br/><br/></h2>
                <h3>"{{ object.content }}"<br/><br/></h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <button class="btn btn-danger">Ja</button>
                        <a class="btn btn-info" href="{% url 'messages_list' %}">Nein</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}