{% extends "blog/staff_base.html" %}
{% block content %}
    <div class="landing bg-dark">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-12 col-lg-8 text-center">
                    <h1 class="text-white font-weight-bold display-5 mt-5">Meldungen</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-light mt-n5 p-5 rounded ">
        {% if notifications.count > 0 %}
            {% for message in notifications|dictsortreversed:"sent_at" %}
                <div class="row blog mb-3">
                    <div class="col-lg-2 col-sm-12 text-center">
                        <div class="border-bottom mb-3">Sender:<a class="mugshot-container mb-1"
                                                                  href="{% url 'profile' message.sender.pk %}">
                            <span>{{ message.sender.first_name }} {{ message.sender.last_name }}</span>
                        </a></div>
                        <div>Empfänger:<a class="mugshot-container mb-1"
                                          href="{% url 'profile' message.recipient.pk %}">
                            <div class="mugshot-img mb-2"
                                 style="background-image:url({{ message.recipient.profile.image.url }})"></div>
                            <span>{{ message.recipient.first_name }} {{ message.recipient.last_name }}</span>
                        </a></div>
                    </div>
                    <div class="col-lg-10 col-sm-12">
                        <div class="blog-information">
                            <p class="text-muted">Gesendet am {{ message.sent_at|date:"d.m.Y" }}
                                um {{ message.sent_at|date:"H:i" }}</p>
                            <p>{{ message.content }}</p>
                            <p class="text-bold"><br/>Betroffenes Gerät: {{ message.user_devices }}</p>
                            <p class="text-bold">Vorfall am {{ message.incident_date|date:"d.m.Y" }}
                                um {{ message.incident_date|date:"H:i" }}</p>

                            <div class="update-edit">
                                {% if request.user.is_authenticated and request.user == message.sender %}
                                    <a class="btn btn-sm btn-info"
                                       href="{% url 'message_update' message.pk %}">Bearbeiten</a>
                                    <a class="btn btn-sm btn-danger"
                                       href="{% url 'message_delete' message.pk %}">Löschen</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}



            <div class="pagination">
            <span class="step-links">
            {% if page_obj.has_previous %}
                <div class="step-divider">
                    <a href="?page=1">&laquo; Erste Seite</a>
                    <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Vorherige</a>
                </div>
            {% endif %}
                <span class="current">
                Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
            </span>
                {% if page_obj.has_next %}
                    <div class="step-divider">
                    <a href="?page={{ page_obj.next_page_number }}">Nächste &rsaquo;</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Letzte Seite &raquo;</a>
                </div>
                {% endif %}
            </span>
            </div>
        {% else %}
            <div class="mx-auto mb-5" style="width: 720px;">
            <h2 class="text-muted text-center">Keine Meldungen vorhanden.<br/><br/></h2>
            <p><br/><br/><br/><br/><br/></p>
        {% endif %}
        </div>
    </div>

{% endblock content %}