{% extends "blog/base.html" %}

{% block content %}
    <div class="landing bg-dark">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-12 col-lg-6 text-center">
                    <h1 class="text-white font-weight-bold display-5 mb-3">Aktuelle Messwerte</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-2 rounded ">
        {% load django_tables2 %}
        {% render_table table %}



        {% for device in devices %}
            <p>{{ device.id }}
        {% endfor %}

    </div>

<div class="container p-2 rounded">
    <canvas id="chart" width="300" height="100"></canvas>
    <script>
        let ctx = document.getElementById("chart").getContext("2d");

        let chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["2020/Q1", "2020/Q2", "2020/Q3", "2020/Q4"],
                datasets: [
                    {
                        label: "Gross volume ($)",
                        backgroundColor: "#79AEC8",
                        borderColor: "#417690",
                        data: [26900, 28700, 27300, 29200]
                    }
                ]
            },
            options: {
                title: {
                    text: "Gross Volume in 2020",
                    display: true
                }
            }
        });
    </script>
</div>





{% endblock content %}