{% extends "blog/base.html" %}

{% block content %}
    <div class="landing bg-dark">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-12 col-lg-6 text-center">
                    <h1 class="text-white font-weight-bold display-3 mb-3">Raum-Klimadaten-System der htw saar</h1>
                </div>
            </div>
        </div>
    </div>

{% load django_tables2 %}
{% render_table table %}

{% endblock content %}